doctype html
html(lang="en")
    head
       link(rel="stylesheet", href="/stylesheets/counter.css")
    body
        div(class='players')
        |
        script(src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js").
        script(type='text/javascript', src="/javascripts/counter.js").