body {
    font-size: 65%;
    text-align: center;
    background-color: #fffffc;
}
#players {
    font: 6rem "Courier New", Arial, sans-serif;
    font-weight: bold;
}
.currentPlayer {
    font-weight: bolder;
    color: red;
}
#buttons {
    margin: auto;
}
.lifeButton {
    font-size: 5em;
    font: "Courier New", Arial, sans-serif;
    text-align: center;
    height: 20vh;
    width: 23vw;
}
.negativeLife {
    background-color: palevioletred;
}
.positiveLife {
    background-color: greenyellow;
}
.clearRoom {
    font-size: 5em;
    background-color: black;
    color: #fffffc;
}